h1 {
	font-weight:bold;
	color:#35D46F;
	letter-spacing:0pt;
	word-spacing:1pt;
	font-size:60px;
	text-align:center;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	position: relative;
    top: -30px;
}

body{
	background-image:url("index.jpg");
}


#canvas
{
	position: absolute;
    top: 500px;
    left: 630px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border: 5px solid black; 
	border-radius: 20px; 
	background-color: black;	
}

#menu {
	position: absolute;
	top: 50px;
	left: 280px;
	list-style: none;
	list-style-type: none;
}

#menuItem {
	display: inline;
	display:inline-block;
	padding: 50px;
}

#bestDisplay, #currentDisplay{
	list-style-type: none;
	background: -moz-linear-gradient(orange, red); 
	background: linear-gradient(orange, red);
	
	border-radius: 5px;
	width: 80px;
	height: 60px;
	padding: 10px;
	text-align: center;
}

#bestDisplay > li {
	margin: -20px;
	float: center;
}

#currentDisplay > li {
	margin: -20px;
	float: center;
}

#newGame{
	width: 120px;
	height:80px;
	border: none;
	border-radius: 10px;
	background-color: red;
	font-size: 20px;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

#currentScoreDisplay{
	font-family: Impact, sans-serif;
	font-size: 24px;
	font-style:bold;
}

#bestScoreDisplay{
	font-family: Impact, sans-serif;
	font-size: 24px;
	font-style:bold;
}

#copyright{
	position: absolute;
    left: 450px;
    bottom: 10px;
}
