h1 {
	font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 5000;
	line-height: 26.4px;
	text-align: center ;
}

body{
	background-color:lightyellow;
}

#canvas
{
	margin-top: 100px;
	border: 5px solid black; 
	border-radius: 20px; 
	background-color: black
}

#newGame{
	position: absolute;
    left: 500px;
    top: 100px;
	background-color:lightgreen;
	width:100px;
	height:50px;
}
