h1 {
	font-weight:bold;
	color:#35D46F;
	letter-spacing:0pt;
	word-spacing:1pt;
	font-size:60px;
	text-align:center;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	position: relative;
    top: -30px;
}

body{
	background-image:url("index.jpg");
}


#canvas
{
	position: absolute;
    top: 600px;
    left: 650px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border: 5px solid black; 
	border-radius: 20px; 
	background-color: black;
	
}

#scoreH2{
	position: absolute;
    top: 100px;
	left: 740px;
}

#bestH2{
	position: absolute;
    top: 100px;
	left: 598px;
}

#newGame{
	position: absolute;
    left: 700px;
    top: 250px;
	background-color:"#66FFFF";
	width:100px;
	height:50px;
}

#currentScoreDisplay{
	width: 50px;
	height: 50px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	font-style:bold;
	position: absolute;
    left: 750px;
    top: 150px;
}

#scoreDisplay1{
	border-radius: 25px;
    background: -moz-linear-gradient(bottom right, red, white); 
    padding: 20px; 
    width: 100px;
    height: 80px;
	position: absolute;
    left: 700px;
    top: 100px;	
}

#bestScoreDisplay{
	width: 50px;
	height: 50px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	font-style:bold;
	position: absolute;
    left: 602px;
    top: 150px;
}

#scoreDisplay2{
	border-radius: 25px;
    background: -moz-linear-gradient(bottom right, red, white); 
    padding: 20px; 
    width: 100px;
    height: 80px;  
	position: absolute;
    left: 550px;
    top: 100px;
}

#copyright{
	position: absolute;
    left: 450px;
    bottom: 10px;
}
}